
    <div class="wrapper_my_page">
        <h3 class="my_page_logo"><%= current_user.name %>さんのマイページ
        </h3>
        <div class="new_curriculum">
          <%= link_to '開講ページへ','/curriculums/new' %>
        </div>
      <div class="c_logo_box">
        <h2 class="curriculum_logo"><%= current_user.name %>さんの講座一覧
        </h2>
      </div>
      <div class="my_curriculum_box">
        <ul class="wrapper">
        <% @curriculums.each do |curriculum| %>
             <li class="curriculum_box">
            <div class="image_box" >
              <%= link_to image_tag(curriculum.image, :size => '245x150'), '/curriculums/#{curriculum.id}' %>
            </div>
            <div class="date_box">
              <p><%= curriculum.month %>月 <%= curriculum.day %>日 </p>
            </div>
            <div class="name_box">
              <%= curriculum.name %>
            </div>
            <div class="t_name_box">
              <%= curriculum.t_name %>
            </div>
          </li>
        <% end %>
      </ul>
      </div>
    </div>
